<main>

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Gençlere Destek, Geleceğe Destek</h1>
        <p class="lead text-muted">Türkiye'de Yazılım sektörüne yeni katılacak gençlere destek olabilecek firmaları burada bulabilirsiniz.</p>
      </div>
    </div>
  </section>

  <div class="album py-3 bg-light">
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <h1 class="fw-light">Firma Listesi</h1>
          <div class="form-group" style="margin-top: 10px;margin-bottom: 30px">
            <%= search_form_for @q, url: root_path do |f| %>
              <%= f.search_field :name_or_location_or_work_type_or_perks_cont, style: "width: 80%", placeholder: 'Aramak için İsim, Konum, Çalışma Şekli ve ya İmkan girin' %>

              <%= f.submit 'Ara' %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <% @companies.each do |company| %>
          <div class="col">
            <div class="card shadow-sm">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title><%= company.name %></title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em"><%= company.name %></text></svg>
              <div class="card-body">
                <% if !company.perks.empty? %>
                  <p class="card-text"><b>İmkanlar:</b> <%= company.perks %></p>
                <% end %>
                <p class="card-text"><b>Konum:</b> <%= company.location %></p>
                <p class="card-text"><b>Çalışma Şekli:</b>
                <% if company.work_types %>
                  <%= company.work_types.map(&:name).join(',')%>
                <% end %>
                </p>
                <div class="d-flex justify-content-between align-items-center">             
                    <div class="btn-group">
                      <% if company.website %>
                        <button type="button" class="btn btn-sm btn-outline-secondary"><a href="<%= company.website %>" target="_blank">Web Sitesi</a></button>  
                      <% end %>
                      <% if company.contact_email %>
                        <button type="button" class="btn btn-sm btn-outline-secondary"><a href="mailto:<%= company.contact_email %>">İletişime Geç</a></button>
                      <% end %>
                    </div>  
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

</main>

<footer class="text-muted py-5">
  <div class="container">
    <p class="float-end mb-1">
      <a href="#">Yukarıya dön</a>
    </p>
    <p class="mb-1">2022 Gençlere Destek. <br> Bu site açık kaynaklı olup <a href="https://github.com/sdogruyol/gencleredestek.com">buradan</a> destek olabilirsiniz.</p>
  </div>
</footer>