<!DOCTYPE html>
<html lang="tr">
  <head>
    <title>Gençlere Destek, Geleceğe Destek</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="Türkiye'de Yazılım sektörüne yeni katılacak gençlere destek olabilecek firmaları burada bulabilirsiniz">
    <meta charset="UTF-8">
    
    <meta property="twitter:card" content="summary" />
    <meta property="og:title" content="Gençlere Destek, Geleceğe Destek" />
    <meta property="og:description" content="Türkiye'de Yazılım sektörüne yeni katılacak gençlere destek olabilecek firmaları burada bulabilirsiniz" />
    <meta property="og:type" content="website" />
    <link rel="icon" type="image/x-icon" href="<%= asset_path("fav-icon.svg") %>">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-LGNEWHSLXC"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-LGNEWHSLXC');
    </script>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>


    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class='bg-[#F0F4FB]'>
      <%= yield %>
  </body>
</html>
